<a href="https://colab.research.google.com/github/Camilodupu/TareasPCD/blob/main/Guia_2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Guía 2**

Objetivo: aplicar los conceptos de Pandas en la manipulación y análisis de datos estructurados. Se trabajará con Series y DataFrames, aplicando técnicas de acceso, selección, filtrado y agregación de datos.

### **Caso de Negocio: Análisis de Deserción de Clientes en una Empresa de Telecomunicaciones**

**Contexto**

En la industria de las telecomunicaciones, la retención de clientes es un factor crítico para la sostenibilidad del negocio. La competencia es feroz y adquirir nuevos clientes suele ser más costoso que mantener a los actuales. En este análisis, exploraremos un conjunto de datos que contiene información detallada sobre clientes que han abandonado el servicio (churn) y aquellos que permanecen activos.

Nuestro objetivo es identificar los factores clave que influyen en la deserción, comprender patrones de comportamiento y generar estrategias efectivas para reducir la tasa de abandono.

La empresa ha experimentado un aumento en la tasa de deserción de clientes, lo que ha provocado:
- Pérdida de ingresos recurrentes.
- Incremento en los costos de adquisición de nuevos clientes.
- Menor estabilidad en la base de clientes a largo plazo.

Para abordar esta problemática, es crucial identificar las razones detrás de la deserción y desarrollar estrategias para mejorar la retención de clientes.

**Entrega del Trabajo**

Los estudiantes deben trabajar en grupos de entre 2 y 4 personas. Cada grupo deberá subir su trabajo a un repositorio de GitHub, asegurándose de que el código y los archivos necesarios estén bien organizados y documentados. Posteriormente, deberán enviar el enlace del repositorio en la plataforma Canvas para su evaluación.

Instrucciones para la entrega:

Crear un repositorio en GitHub con un nombre descriptivo para el proyecto.

Subir el código en Jupyter Notebook (.ipynb) o en formato Python (.py).

Incluir un archivo README.md con una breve descripción del trabajo y las instrucciones de ejecución.

Compartir el enlace del repositorio en Canvas dentro del plazo establecido.

**Descripción de las variables del dataset telecom_churn**

El dataset telecom_churn contiene información detallada sobre clientes de una empresa de telecomunicaciones, incluyendo datos generales, planes contratados, uso del servicio telefónico y llamadas al servicio al cliente. Su propósito principal es **analizar patrones de deserción de clientes**, i**dentificados a través de la variable churn, que indica si un cliente ha abandonado la empresa (1) o sigue siendo cliente (0).**

Dentro del dataset, encontramos información general como el estado **(state) donde reside el cliente**, el **código de área (area code)**, y el **número de teléfono (phone number)** *texto en cursiva*, aunque esta última variable no aporta información útil para el análisis, ***ya que es un identificador único***.

Además, el dataset registra el **tiempo que un cliente ha estado en la empresa a través de la variable account length**, lo que puede ayudar a analizar si la duración del contrato influye en la deserción. También se incluyen detalles sobre los planes contratados, como si el cliente tiene un **plan internacional (international plan)**, que le permite realizar llamadas internacionales, o **un buzón de voz (voice mail plan)**, que le permite recibir mensajes de voz.

En cuanto al uso del servicio, se registran datos detallados sobre el tiempo en llamadas y los costos asociados. Se divide en tres períodos del día: **diurno texto en negrita(total day minutes, total day calls, total day charge), vespertino (total eve minutes, total eve calls, total eve charge) y nocturno (total night minutes, total night calls, total night charge)**, lo que permite evaluar si hay patrones de consumo que influyen en la deserción. También se incluye información sobre el uso del servicio internacional, con variables como **total intl minutes (minutos en llamadas internacionales), total intl calls (cantidad de llamadas internacionales) y total intl charge (costos por llamadas internacionales)**.

Otro aspecto clave del dataset es el **número de llamadas al servicio al cliente (customer service calls)**, ya que una mayor cantidad de llamadas puede indicar insatisfacción y estar relacionada con la decisión del cliente de abandonar la empresa.

Finalmente, **la variable más importante del análisis es churn, que indica si un cliente ha desertado de la empresa**. A partir de esta variable, podemos analizar qué factores influyen en la deserción y encontrar patrones en los clientes que tienen mayor probabilidad de abandonar el servicio.

**Exploración y Limpieza de Datos**

Cargar y explorar el dataset

Importa Pandas y carga el dataset telecom_churn.csv en un DataFrame.

Muestra las primeras 5 filas del DataFrame.

Verifica cuántas filas y columnas tiene el dataset.

Muestra información general del dataset, incluyendo los tipos de datos.

Identifica si hay valores nulos en alguna columna.

In [1]:
import pandas as pd

print(pd.__version__)

2.2.2

In [2]:
import os
os.getcwd()

'/content'

In [3]:
os.path.exists('/content/telecom_churn.csv')

True

In [4]:
df1 = pd.read_csv ('/content/telecom_churn.csv')

In [11]:
df1.info() #aca se pueden ver todos los tipos de datos, con columnas e informacion general

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   object
 5   voice mail plan         3333 non-null   object
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
 20  churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 524.2+ KB

In [8]:
filas, columnas = df1.shape #indica cuantas filas y columnas totales tiene el data frame
print(f'El dataset tiene {filas} filas y {columnas} columnas.')

El dataset tiene 3333 filas y 21 columnas.

In [20]:
valores_nulos = df1.isnull()#Ejemplo donde se sacan los valores nulos, en donde falso es que no hay ninguno. Sin embargo para simplificar se propone el codigo de abajo:
print (valores_nulos)

      state  account length  area code  phone number  international plan  \
0     False           False      False         False               False
1     False           False      False         False               False
2     False           False      False         False               False
3     False           False      False         False               False
4     False           False      False         False               False
...     ...             ...        ...           ...                 ...
3328  False           False      False         False               False
3329  False           False      False         False               False
3330  False           False      False         False               False
3331  False           False      False         False               False
3332  False           False      False         False               False

      voice mail plan  number vmail messages  total day minutes  \
0               False                  False              False
1               False                  False              False
2               False                  False              False
3               False                  False              False
4               False                  False              False
...               ...                    ...                ...
3328            False                  False              False
3329            False                  False              False
3330            False                  False              False
3331            False                  False              False
3332            False                  False              False

      total day calls  total day charge  ...  total eve calls  \
0               False             False  ...            False
1               False             False  ...            False
2               False             False  ...            False
3               False             False  ...            False
4               False             False  ...            False
...               ...               ...  ...              ...
3328            False             False  ...            False
3329            False             False  ...            False
3330            False             False  ...            False
3331            False             False  ...            False
3332            False             False  ...            False

      total eve charge  total night minutes  total night calls  \
0                False                False              False
1                False                False              False
2                False                False              False
3                False                False              False
4                False                False              False
...                ...                  ...                ...
3328             False                False              False
3329             False                False              False
3330             False                False              False
3331             False                False              False
3332             False                False              False

      total night charge  total intl minutes  total intl calls  \
0                  False               False             False
1                  False               False             False
2                  False               False             False
3                  False               False             False
4                  False               False             False
...                  ...                 ...               ...
3328               False               False             False
3329               False               False             False
3330               False               False             False
3331               False               False             False
3332               False               False             False

      total intl charge  customer service calls  churn
0                 False                   False  False
1                 False                   False  False
2                 False                   False  False
3                 False                   False  False
4                 False                   False  False
...                 ...                     ...    ...
3328              False                   False  False
3329              False                   False  False
3330              False                   False  False
3331              False                   False  False
3332              False                   False  False

[3333 rows x 21 columns]

In [22]:
valores_nulos = df1.isnull().sum() #esto nos ayuda a simplificar ysumar todos los posibles true que se pudieran presentar
print(valores_nulos)

state                     0
account length            0
area code                 0
phone number              0
international plan        0
voice mail plan           0
number vmail messages     0
total day minutes         0
total day calls           0
total day charge          0
total eve minutes         0
total eve calls           0
total eve charge          0
total night minutes       0
total night calls         0
total night charge        0
total intl minutes        0
total intl calls          0
total intl charge         0
customer service calls    0
churn                     0
dtype: int64

In [6]:
# Solución propuesta
df1.head(5) # muestra lasprimeras filas del dataframe junto a sus columnas

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [9]:
df1.tail(5) #El equipo se revisa el codigo para ver ultimas filas y garantizar datos

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

**Análisis de Churn y Factores Relacionados**

Calcula el porcentaje de clientes que han desertado (churn = 1).

Identifica si los clientes con plan internacional (international plan) tienen mayor tasa de deserción.

Identifica si los clientes con buzón de voz (voice mail plan) tienen menor tasa de deserción.

In [25]:
porcentaje_Desertor = (df1['churn'].sum() / len(df1)) * 100 #porcentaje de clientes que han desertado
print(f'El porcentaje de clientes que han desertado es: {porcentaje_Desertor:.2f}%')

El porcentaje de clientes que han desertado es: 14.49%

In [66]:
porcentaje_churn = df1['churn'].mean() * 100  #otra forma usando la media aritmetica
print(f"Porcentaje de clientes que han desertado: {porcentaje_churn:.2f}%")

Porcentaje de clientes que han desertado: 14.49%

In [41]:
cantidad_true = df1['churn'].sum()
print("Cantidad de valores True:", cantidad_true) #cantidad de valores true en churn, lo hicimos para verificar la cantidad y asi dividirlo en 3333 registros

Cantidad de valores True: 483

In [56]:
conteo_valores = df1['international plan'].value_counts() #para conocer cuantos clientes se han ido en los planes internacionales
print(conteo_valores)

international plan
no     3010
yes     323
Name: count, dtype: int64

In [47]:
tasa_deserción_int = (df1[df1['international plan'] == 'yes']['churn'].sum() / len(df1[df1['international plan'] == 'yes'])) * 100
print(f'Tasa de deserción para clientes con plan internacional: {tasa_deserción_int:.2f}%') #Desercion de los clientes con plan internacional

Tasa de deserción para clientes con plan internacional: 42.41%

In [67]:
tasa_deserción_int = (df1.groupby('international plan')['churn'].mean())*100 #otra forma de ver la deserción agrupando las categorias y sacandoles la media aritmetica
print("Tasa de deserción por plan:")
print(tasa_deserción_int)

Tasa de deserción por plan:
international plan
no     11.495017
yes    42.414861
Name: churn, dtype: float64

In [55]:
tasa_deserción_bz = (df1[df1['voice mail plan'] == 'yes']['churn'].sum() / len(df1[df1['voice mail plan'] == 'yes'])) * 100
print(f'Tasa de deserción para clientes con buzon de voz es de: {tasa_deserción_bz:.2f}%')

Tasa de deserción para clientes con buzon de voz es de: 8.68%

**Análisis de la Duración del Servicio y Deserción**

¿Cuál es la duración promedio de la cuenta (account length) entre clientes que desertaron y los que permanecen?

¿Los clientes con cuentas más antiguas tienen más probabilidades de desertar?

In [ ]:
# Solución propuesta

**Relación entre Deserción y Uso del Servicio**

Compara la cantidad de minutos usados en llamadas diurnas (total day minutes) entre clientes con y sin churn.

Compara la cantidad de minutos usados en llamadas nocturnas (total night minutes).

Compara el número total de llamadas (total day calls) entre clientes con y sin churn.

In [ ]:
# Solución propuesta

**Impacto de las Llamadas al Servicio al Cliente en la Deserción**

Calcula el número promedio de llamadas al servicio al cliente (customer service calls) entre clientes que desertaron y los que no.

Divide los clientes en dos grupos:

- Grupo 1: Clientes que llamaron más de 3 veces al servicio al cliente.
- Grupo 2: Clientes que llamaron 3 veces o menos.
Compara la tasa de churn entre ambos grupos.

In [ ]:
# Solución propuesta

**Análisis del Costo de las Llamadas y Churn**

Compara el costo total de llamadas diurnas (total day charge) entre clientes con y sin churn.

Compara el costo total de llamadas nocturnas (total night charge).

¿Los clientes con mayor gasto en llamadas internacionales (total intl charge) tienen más probabilidades de desertar?

In [ ]:
# Solución propuesta